<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Reservas</title>
    <!-- Enlaza el CSS de Bootstrap para un mejor estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/hotel">Hoteles</a></li>
            <li><a href="/disponibilidad">Disponibilidad</a></li>
            <li><a href="/pago">pago</a></li>
            <li><a href="/sitios">sitios</a></li>
        </ul>
    </nav>
</header>
<h1>Buscar reserva</h1>
<div class="container">
    <form action="/buscar/pago" method="post" class="form-vertical">
            <div class="form-group">
                <label for="nombre">Selecciona un nombre:</label>
                <select name="nombre" id="nombre" required>
                    <option value="" disabled selected>Selecciona un nombre</option>
                    <th:block th:each="nombre : ${nombres}">
                        <option th:value="${nombre}" th:text="${nombre}"></option>
                    </th:block>
                </select>
            </div>
            <button type="submit">Buscar</button>
    </form>
</div>

<form action="/pagando/reserva" method="get" class="form-vertical">
    <div class="form-group">
        <button type="submit">Ver Comprobantes</button>
    </div>
</form>

<footer>
    <p>&copy; 2024. Todos los derechos reservados.</p>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
</body>
</html>
