<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserva de Hotel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/hotel">Hoteles</a></li>
            <li><a href="/disponibilidad">Disponibilidad</a></li>
            <li><a href="/pago">pago</a></li>
            <li><a href="/sitios">sitios</a></li>
        </ul>
    </nav>
</header>

<form action="/logout" method="get">
    <button type="submit" class="btn btn-sm btn-danger">Cerrar sesión</button>
</form>
<section id="rooms">
    <h2>Nuestras Habitaciones</h2>
    <div class="room-gallery">
        <a href="/individual" class="room-link">
            <img src="/img/habitacion1.jpg"  alt="Habitación Individual">
            <h3>Habitación Individual</h3>
            <h3>$50.000</h3>
        </a>
        <a href="/doble" class="room-link">
            <img src="/img/habitacion2.jpg"  alt="Habitación Doble">
            <h3>Habitación Doble</h3>
            <h3>$85.000</h3>
        </a>
        <a href="/suite" class="room-link">
            <img src="/img/habitacion3.jpg"  alt="Habitación Suite">
            <h3>Habitación Suite</h3>
            <h3>$100.000</h3>
        </a>
    </div>
</section>

<section class="info-hotel">
    <h2>Disfruta de una experiencia inolvidable</h2>
    <p>Ubicado en el corazón de la ciudad, nuestro hotel combina lujo y comodidad. Relájate en nuestras elegantes habitaciones y disfruta de nuestro servicio exclusivo.</p>
    <ul>
        <li>Wi-Fi gratuito en todas las áreas</li>
        <li>Desayuno incluido</li>
        <li>Piscina y gimnasio</li>
        <li>Spa y centro de bienestar</li>
    </ul>
</section>

<footer>
    <p>&copy; 2024. Todos los derechos reservados.</p>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
</body>
</html>
