<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitación Individual</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <a href="/inicio" class="btn">Volver</a>
    <h1 class="text-center">Habitación Suite</h1>
    <img src="/img/habitacion3.jpg" alt="Habitación Suite" class="d-block mx-auto img-fluid w-50 my-3">
    <p class="text-center">Precio por persona: <strong>$100,000</strong></p>

    <p class="text-center">
        <strong>Condiciones:</strong>
    <ul>
        <li>Los menores de 13 años no pagan.</li>
        <li>Las personas mayores de 13 años deben pagar como si fueran adulto.</li>
    </ul>
    </p>

    <div class="text-center mt-4">
        <a href="/reserva/registrar" class="btn btn-primary">Reservar Ahora</a>
    </div>
</div>
</body>
</html>
